<% @posts.each do |post| %>
  <div class="card">
    <div class="card-header bg-dark text-success">
      <span class="badge badge-light"><%= post.comments.count %> </span>
      <span class="badge badge-light"><%= post.user.name %> </span>
      <span class="badge badge-light"><%= post.created_at.strftime('%m-%d-%y at %H:%M' ) %> </span>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= truncate(post.body, length: 200, omission: '...') %></p>
      <%= link_to 'Read more', post, class: 'btn btn-success' %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
